.rep-photo {
    position: relative;
    display: block;
    top: 6px;
    left: 22px;
    max-width: 80%;
}

/********** customize admin nav-bar here *********/
.sonata-bc .navbar-fixed-top .navbar-inner, .sonata-bc .navbar-static-top .navbar-inner {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    background: #02684c; /* Old browsers */
    background: -moz-linear-gradient(top,  #02684c 0%, #014633 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02684c), color-stop(100%,#014633)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #02684c 0%,#014633 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #02684c 0%,#014633 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #02684c 0%,#014633 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #02684c 0%,#014633 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02684c', endColorstr='#014633',GradientType=0 ); /* IE6-9 */
}

/** customize left nav-bar items **/
.sonata-bc .navbar .brand, .sonata-bc .navbar .nav>li>a
{ color: #FFF; text-shadow: 0 -1px 2px rgba(0,0,0,.8); }
.sonata-bc .navbar .nav>li>a:focus,
.sonata-bc .navbar .nav>li>a:hover
{ color: #DDD; text-shadow: 0 1px 2px rgba(0,0,0,1); }

.sonata-bc .navbar .nav li.dropdown.open>.dropdown-toggle,
.sonata-bc .navbar .nav li.dropdown.active>.dropdown-toggle,
.sonata-bc .navbar .nav li.dropdown.open.active>.dropdown-toggle
{ text-shadow: 0 1px 2px rgba(255,255,255,.8); }

.sonata-bc .navbar .nav li.dropdown>.dropdown-toggle .caret
{ border-top-color: #FFF; border-bottom-color: #FFF; }

/** customize right nav-bar items **/
.navbar-inner .container-fluid .users-link,
.navbar-inner .container-fluid .profile-link {
    color: #FFF; text-shadow: 0 -1px 2px rgba(0,0,0,.8);
    position: relative;
    float: right;
    margin-top: 11px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #FFF;
}

.sonata-bc .navbar .pull-right,
.sonata-bc .navbar .pull-right a,
.sonata-bc .navbar .pull-right a:hover
{ color: #FFF; text-shadow: 0 -1px 2px rgba(0,0,0,.8); }

/* Export Data */
#export_same_contain {
    position: relative;
    width: 520px;
    left: 5px;
}

#export_new_contain {
    position: relative;
    width: 520px;
    left: 5px;
}

.export_icon {
    position: relative;
    background: url('../images/admin/form_icon.png');
    width: 20px;
    height: 26px;
    float: left;
}

.export_link {
    position: relative;
    width: 220px;
    color: #1f69d6;
    left: 10px;
    top: 4px;
    cursor: pointer;
}

.export_id {
    position: relative;
    top: -19px;
    left: 225px;
}
