.countdown3-copy {
    font-size: 23px;
    font-family: 'digi';
    color: black;
    position: absolute;
    top: 24px;
    right: 182px; }
.countdown3-title {
    text-align: center;position: absolute;top:80px;width:200px;right: -17px;
}
.countdown3-title p {
    margin:0px;padding:0px;color:#000000;font-family: 'mls_metronicregular';font-size:14pt;
}
.countdown3-title a {
    font-size: 12pt;
    font-family: 'mls_borisblackbloxx';
    font-weight: normal;
    color:#000000;
    text-transform: uppercase;
}
.countdown3 {
    position: relative;
    background: url("../images/body/clock-replacement.png") no-repeat;
    width: 244px;
    height: 108px;
    font-family: 'digi';
    color: white;
    font-size: 31px;
    text-align: center;
}
.countdown3 .days {
    position: relative;
    left: 10px;
    top: 30px;
    width: 54px; }
.countdown3 .hours {
    position: relative;
    left: 70px;
    top: -15px;
    width: 54px; }
.countdown3 .minutes {
    position: relative;
    left: 122px;
    top: -58px;
    width: 54px; }
.countdown3 .seconds {
    position: relative;
    left: 175px;
    width: 54px;
    top: -102px;
}