.ejersey-slide-out {
	background: url("../images/buttons/ejersey-open.png") top left no-repeat;
	position: absolute;
	top: 353px;
	right: 0px;
	z-index: 1;
	overflow: hidden;
	display:none;
	height: 197px;
	width: 62px;
	-webkit-transition: width 300ms linear, height 300ms linear;
     transition: width 300ms linear, height 300ms linear;
}

.ejersey-slide-out.active {
    width: 349px;
    height: 352px;
    z-index: 2;
}

.ejersey-slide-out #ejersey-trigger {
	position: absolute;
	width: 52px;
	height: 180px;
	display: inline-block;
	cursor: pointer;
	margin: 8px 0px 0px 8px;
}

.ejersey-slide-out #ejersey-form-container {
    float: left;
    width: 289px;
    margin-top: 9px;
    margin-left: 62px;
    display: inline-block;
}

.ejersey-slide-out #ejersey-form-container form {
	padding-top: 35px;
	padding-left: 25px;
}
.ejersey-slide-out #ejersey-form-container form input{
	line-height: 24px;
	height: 48px;
	width: 239px;
	margin-bottom: 9px;
	text-align: center;
	background: transparent;
	color: #FFF;
	font-family: futura_book, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 0px solid #ccc;
	border-radius: 8px;
}

.ejersey-slide-out #ejersey-form-container form input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
.ejersey-slide-out #ejersey-form-container form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.ejersey-slide-out #ejersey-form-container form input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.ejersey-slide-out #ejersey-form-container form input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}
