/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 28px;
  background-color: #050504;
  display: none;
  z-index: 1;
  line-height: 28px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.footer ul.socail-media-link {
  border-left: 1px solid #444443;
  height: 28px;
}


.footer ul.socail-media-link li {
  border-right: 1px solid #444443;
  height: 28px;
}

.footer ul.socail-media-link li a {
  margin: 0px 0px;
  padding: 0px 7px;
  line-height: 28px;
}

.footer .socail-media-link a
  , .footer .socail-media-link a:visited
  , .footer .socail-media-link a:hover
  ,.footer .socail-media-link a:active
  ,.footer .socail-media-link a:focus
  , #phone-number {
  color: #b49759;
}

.footer  #phone-number {
    color: #fff;
}

.footer .sitelink a
, .footer .sitelink a:visited
, .footer .sitelink a:hover
,.footer .sitelink a:active
,.footer .sitelink a:focus {
    color: #b49759;
}

.footer span
 {
  font-family: futura_bold, 'Arial Black', sans-serif;
  font-weight:bold;
  font-style: normal;
  color: #fff;
}

.footer img {
  vertical-align: sub;
}

