/*-----------------------------------*\
    Table of contents
=========================
    VARIABLES
    GLOBAL
    PRELOADER
    HEADER
    NAV
    MAIN
    FOOTER
    HELPER
\*-----------------------------------*/
/*-----------------------------------*\
    $VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
    $GLOBAL
\*-----------------------------------*/
html, body {
  width: 100%;
  height: 100%;
  background: #000000;
  font-family: futura_book, 'Arial Black', sans-serif;
}

#menu .main-menu .nav li a:focus, #menu .main-menu .nav li a div:focus {
  outline: 0;
  outline: none; }

a {
  text-decoration: none;
  outline: none; }

a:focus {
  -moz-outline-style: none;
  outline: none; }

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  top: none;
  left: none;
  position: relative;
  opacity: 1;
  visibility: hidden; }

html #renew, html .rep-info, html #renew-confirm, html .close-page, html .close-x {
  font-family: 'GothamBold'; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*-----------------------------------*\
    $PRELOADER
\*-----------------------------------*/
.players {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 1300px;
  height: 800px;
  margin-left: -650px;
  z-index: 1000; }
  .players img {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none; }

.lights {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 6000; }
  .lights img {
    display: none; }
  .lights .left {
    position: absolute;
    top: 0;
    left: 0; }
  .lights .right {
    position: absolute;
    top: 0;
    right: 0; }

.intro-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  overflow-y: hidden; }
  .intro-logo img {
    display: none;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0; }

.intro-text {
  position: absolute;
  top: 430px;
  left: 50%;
  margin-left: -180px;
  z-index: 1100;
  display: none; }

.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  bottom: 0;
  display: none; }

* html .body-bg div {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/body/background-1.jpg', sizingMethod='scale') alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/body/background-1.jpg', sizingMethod='scale') progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.body-bg {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/body/background-1.jpg', sizingMethod='scale') alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/body/background-1.jpg', sizingMethod='scale') progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0; }
  .body-bg .bg-1 {
    background-image: url("../images/body/background-1.jpg"); }
  .body-bg .bg-2 {
    background-image: url("../images/body/background-2.jpg"); }
  .body-bg .bg-3 {
    background-image: url("../images/body/background-3.jpg"); }
  .body-bg .bg-4 {
    background-image: url("../images/body/background-4.jpg"); }
  .body-bg .bg-5 {
    background-image: url("../images/body/background-5.jpg"); }
  .body-bg .bg-6 {
    background-image: url("../images/body/background-6.jpg"); }
  .body-bg .bg-7 {
    background-image: url("../images/body/background-7.jpg"); }
  .body-bg .bg-8 {
    background-image: url("../images/body/background-8.jpg"); }
  .body-bg .bg-9 {
    background-image: url("../images/body/background-9.jpg"); }
  .body-bg .bg-10 {
    background-image: url("../images/body/background-10.jpg"); }
  .body-bg .bg-1, .body-bg .bg-2, .body-bg .bg-3, .body-bg .bg-4, .body-bg .bg-5, .body-bg .bg-6, .body-bg .bg-7, .body-bg .bg-8, .body-bg .bg-9, .body-bg .bg-10 {
    opacity: 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: fixed;
    zoom: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/body/background-1.jpg', sizingMethod='scale') alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/body/background-1.jpg', sizingMethod='scale') progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  .body-bg .tab2 {
    background-image: url("../images/body/2a-backgroundimage.jpg"); }
  .body-bg .tab3 {
    background-image: url("../images/body/3a-backgroundimage.jpg"); }
  .body-bg .tab4 {
    background-image: url("../images/body/4a-backgroundimage.jpg"); }
  .body-bg .tab5 {
    background-image: url("../images/body/5a-backgroundimage.jpg"); }
  .body-bg .tab6 {
    background-image: url("../images/body/6a-backgroundimage.jpg"); }
  .body-bg .tab2, .body-bg .tab3, .body-bg .tab4, .body-bg .tab5, .body-bg .tab6 {
    opacity: 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: fixed;
    zoom: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale') alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale') progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all  ease;
    -moz-transition: all  ease;
    -o-transition: all  ease;
    -ms-transition: all  ease;
    transition: all  ease; }

/*-----------------------------------*\
    $HEADER
\*-----------------------------------*/

.haspop {
  cursor: pointer; }

/*-----------------------------------*\
    $MAIN
\*-----------------------------------*/
.mute {
  display: none;
  position: fixed;
  background: url("../images/buttons/sound-on.png") no-repeat;
  width: 25px;
  height: 25px;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1;
  margin: 19px 30px}
.mute.audiooff {
  background: url("../images/buttons/sound-off.png") no-repeat;
}

.play-vid {
  display: none;
  position: fixed;
  background: url("../images/buttons/replay-intro.png") no-repeat;
  width: 113px;
  height: 23px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1;
  margin: 19px 30px}

.main {
  /*
  position: relative;
  width: 765px;
  left: 290px;
  top: 150px;
  */
  padding-left:244px;
  padding-top:150px;
  ;
   }
  .main #content {
    width: 745px;
    height: 370px;
    margin-left: 57px;
    margin-top: -95px; }


.seatmap-slider-season {
  display: block;
  position: absolute;
  width: 480px;
  margin-top: 80px;
  margin-left: 75px;
  z-index: 9999; }

.seatmap-slider-playoff {
  display: block;
  position: absolute;
  width: 280px;
  margin-top: 130px;
  margin-left: 405px;
  z-index: 9999; }

.personal-catch, .personal-catch2, .renew-catch {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.7);
  width: 3000px;
  height: 3000px;
  top: -1000px;
  left: -1000px;
  z-index: 1000; }

.personal-catch2 {
  width: 100%;
  top: auto;
  left: auto;
  height: 100%; }

.renew-catch {
  width: 100%;
  top: 0;
  left: 0;
  height: 2792px;
  z-index: 10000; }

.personal-frame {
  position: fixed;
  width: 927px;
  height: 573px;
  top: 50%;
  margin-top: -299px;
  left: 50%;
  margin-left: -472px;
  background: url("../../images/pages/jersey-contain.png");
  z-index: 9999;
  display: none;
  overflow: hidden; }

.error {
  position: absolute;
  display: none;
  background: url("../../images/buttons/error.png");
  width: 426px;
  height: 136px;
  top: 186px;
  left: 240px;
  z-index: 1000; }

.personal-share {
  position: absolute;
  display: block;
  background: url("../../images/buttons/jersey-share.png") no-repeat;
  width: 434px;
  height: 247px;
  top: 240px;
  right: -386px;
  overflow: hidden;
  cursor: pointer; }
  .personal-share #personal-name-share {
    position: absolute;
    top: 66px;
    left: 80px;
    width: 315px;
    font-size: 22px;
    border: none;
    background: none;
    color: #045334;
    font-family: 'alternate_gothic';
    z-index: 9500; }
  .personal-share #personal-number-share {
    position: absolute;
    top: 106px;
    left: 80px;
    width: 315px;
    font-size: 22px;
    border: none;
    background: none;
    color: #045334;
    font-family: 'alternate_gothic';
    z-index: 9500; }
  .personal-share .jersey-submit-share {
    position: absolute;
    width: 165px;
    height: 35px;
    top: 149px;
    left: 239px;
    cursor: pointer;
    z-index: 9999; }

.personal-social {
  position: absolute;
  display: block;
  background: url("../../images/buttons/jersey-social.png") no-repeat;
  width: 169px;
  height: 35px;
  top: 480px;
  left: 20px; }

.personal-fb {
  position: absolute;
  display: block;
  width: 31px;
  height: 35px;
  top: 480px;
  left: 107px;
  cursor: pointer;
  z-index: 999; }

.personal-twit {
  position: absolute;
  display: block;
  width: 33px;
  height: 35px;
  top: 480px;
  left: 141px;
  cursor: pointer;
  z-index: 999; }

.personal-email {
  position: absolute;
  display: block;
  width: 33px;
  height: 35px;
  top: 480px;
  left: 147px;
  cursor: pointer;
  z-index: 999; }

.personal-download {
  position: absolute;
  display: block;
  background: url("../../images/buttons/jersey-download.png") no-repeat;
  width: 169px;
  height: 35px;
  top: 522px;
  left: 20px;
  cursor: pointer; }

.personal-close {
  display: none;
  height: 33px;
  width: 50%;
  color: #ffffff;
  font-family: 'alternate_gothic';
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #333;
  position: relative;
  z-index: 99999;
  cursor: pointer;
  margin: 0 auto;
  left: 421px;
  top: 50%;
  margin-top: -329px;
  text-align: center; }

#person-img {
  position: absolute;
  margin-top: 7px;
  margin-left: 8px; }

.tabs-mask {
  display: none; /* set to none for development */
  position: absolute;
  top: 0;
  height: 100%;
  min-height: 700px;
  width: 100%;
  overflow: hidden;
  right: 0;
 }

.right-side-tabs-contain {
  display: none;
  position: absolute;
  top: 90px;
  right: -600px;
  height: 595px;
  width: 1045px;
  overflow: hidden; }
  .right-side-tabs-contain .right-side-tabs {
    position: relative;
    height: inherit;
    overflow: hidden; }
    .right-side-tabs-contain .right-side-tabs div {
      position: absolute; }
    .right-side-tabs-contain .right-side-tabs .personalized-jersey {
      background: url("../images/offers/jersey.png") no-repeat;
      bottom: 0;
      width: 706px;
      height: 743px;
      top: -7px;
      right: 0px;
      z-index: 0; }
      .right-side-tabs-contain .right-side-tabs .personalized-jersey .jersey-link {
        width: 50px;
        height: 258px;
        z-index: 9100;
        top: 62px;
        left: 275px;
        cursor: pointer; }
      .right-side-tabs-contain .right-side-tabs .personalized-jersey .jersey-submit {
        width: 165px;
        height: 35px;
        top: 216px;
        left: 517px;
        cursor: pointer;
        z-index: 9200; }
      .right-side-tabs-contain .right-side-tabs .personalized-jersey #personal-name {
        position: absolute;
        top: 136px;
        left: 353px;
        width: 327px;
        font-size: 22px;
        border: none;
        background: none;
        color: #045334;
        font-family: 'alternate_gothic';
        z-index: 9200; }
      .right-side-tabs-contain .right-side-tabs .personalized-jersey #personal-number {
        position: absolute;
        top: 177px;
        left: 353px;
        width: 327px;
        font-size: 22px;
        border: none;
        background: none;
        color: #045334;
        font-family: 'alternate_gothic';
        z-index: 9200; }


.bottom-bar {
  }
  .bottom-bar .bottom-bar-info {
    height: 28px;
    width: 460px;
    background: url("../images/body/bottom.png") no-repeat;
    float: right;
    margin-right: 100px; }

.seatmap-contain {
  position: absolute;
  background: #000;
  opacity: .75;
  display: none;
  width: 3000px;
  height: 3000px;
  top: -1000px;
  left: -1000px; }

.seatmap-pop {
  background: url("../images/pages/seatmap.jpg") no-repeat;
  position: absolute;
  display: none;
  width: 1124px;
  height: 829px;
  right: -7%;
  z-index: 9999; }

.seatmap-close {
  position: absolute;
  display: none;
  top: -33px;
  right: -20px;
  height: 33px;
  color: #ffffff;
  font-family: 'alternate_gothic';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  z-index: 10000;
  cursor: pointer; }

.intro-video, .popup-contain .video-popup.popup.tom, .popup-contain .video-popup.popup.thanku, .popup-contain .video-popup.popup.newb {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin-top: 1000px;
  margin-left: -615px; }
  .intro-video .video-container, .popup-contain .video-popup.popup.tom .video-container, .popup-contain .video-popup.popup.thanku .video-container, .popup-contain .video-popup.popup.newb .video-container {
    position: relative;
    width: 884px;
    height: 493px;
    top: 146px;
    left: 177px; }
  .intro-video .video-popup, .popup-contain .video-popup.popup.tom .video-popup, .popup-contain .video-popup.popup.thanku .video-popup, .popup-contain .video-popup.popup.newb .video-popup {
    background: url("../images/intro/video/frame.png") no-repeat;
    width: 1252px;
    height: 789px;
    background-position: 169px;
    opacity: 0.6; }
  .intro-video .skip-intro, .popup-contain .video-popup.popup.tom .skip-intro, .popup-contain .video-popup.popup.thanku .skip-intro, .popup-contain .video-popup.popup.newb .skip-intro {
    width: 100px;
    height: 34px;
    position: relative;
    left: 50%;
    top: 160px;
    margin-left: 342px;
    background: url("../images/buttons/skip-intro.png");
    cursor: pointer; }

.popup-contain .video-popup.popup.tom, .popup-contain .video-popup.popup.thanku, .popup-contain .video-popup.popup.newb {
  margin-top: -420px;
  opacity: 1; }

.popup-contain .video-popup.popup.tom .skip-intro, .popup-contain .video-popup.popup.thanku .skip-intro, .popup-contain .video-popup.popup.newb {
  width: 97px;
  height: 17px;
  margin-left: 339px;
  background: url("../images/buttons/close-video.png"); }

#wrapper .popup-contain .video-popup.popup.tom, #wrapper .popup-contain .video-popup.popup.thanku, .popup-contain .video-popup.popup.newb {
  background: url("../images/intro/video/frame.png") no-repeat;
  width: 1252px;
  height: 789px;
  background-position: 169px; }

.popup-contain {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 45px;
  left: -80px;
  display: none;
  margin: 0 auto; }
  .popup-contain .popup-contain-bg {
    background: url("../images/body/popup-bg.png");
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed; }
  .popup-contain .popup {
    width: 940px;
    height: 483px;
    left: 50%;
    margin-left: -470px;
    top: 50%;
    margin-top: -241px;
    background: none;
    z-index: 2;
    position: absolute;
    display: none; }
  .popup-contain .suites-pricing {
    position: absolute;
    top: 269px;
    left: 55%; }
    .popup-contain .suites-pricing .buy-suites {
      top: 697px;
      left: 527px;
      width: 176px;
      height: 39px; }
  .popup-contain .group-pricing {
    position: absolute;
    top: 269px;
    left: 55%; }
    .popup-contain .group-pricing .buy-suites {
      top: 656px;
      left: 493px;
      width: 176px;
      height: 39px; }
  .popup-contain .video-container {
    position: relative;
    width: 884px;
    height: 493px;
    top: 152px;
    left: 191px; }
  .popup-contain .skip-video {
    width: 185px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 665px;
    margin-left: 255px;
    background: url("../images/buttons/skip-video.png");
    cursor: pointer; }
  .popup-contain .video-popup {
    background: url("../images/intro/video/frame.png") no-repeat;
    width: 1252px;
    height: 789px;
    left: 50%;
    margin-left: -635px;
    top: 50%;
    margin-top: -390px; }
    .popup-contain .video-popup .dock {
      width: 100%;
      height: 120px;
      position: absolute;
      top: 478px;
      left: 0;
      margin: 0 auto 0;
      z-index: 900; }
      .popup-contain .video-popup .dock .thumb-vid {
        float: left;
        border: 4px solid #26328c;
        margin: 5px; }
      .popup-contain .video-popup .dock .thumb-vid:first-child {
        margin-left: 120px; }
    .popup-contain .video-popup #target > div {
      position: absolute;
      left: 0;
      top: 0; }
  .popup-contain .popup-map {
    width: 612px;
    height: 609px;
    left: 50%;
    margin-left: -306px;
    top: 50%;
    margin-top: -305px;
    background: none;
    z-index: 2;
    position: absolute; }
    .popup-contain .popup-map img {
      float: right; }
  .popup-contain .popup-catch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .popup-contain .close-x {
    position: absolute;
    top: -24px;
    right: 273px;
    height: 33px;
    width: 123px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-family: 'alternate_gothic';
    text-transform: uppercase;
    background: none;
    text-align: center;
    text-shadow: 1px 1px 1px #333; }
    .popup-contain .close-x.close-pop {
      right: 155px; }
  .popup-contain .club41-box {
    position: absolute;
    left: 30px;
    top: 270px;
    width: 800px;
    height: 190px;
    overflow-y: auto; }

.install-flash {
  background: none;
  padding: 10px; }

.install-flash h1 {
  font-size: 24px;
  text-align: center;
  font-family: 'font_body';
  color: #303965; }

.install-flash p {
  margin: 0 auto 0;
  text-align: center; }

/*-----------------------------------*\
    $RENEWAL_FORM
\*-----------------------------------*/
.renew-contain {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9700;
  display: none; }
  .renew-contain h1 {
    font-size: 25px;
    color: #000000;
    line-height: 1;
    margin: 20px 0; }
  .renew-contain h2 {
    font-size: 17px;
    color: #999;
    line-height: 1; }
  .renew-contain h3 {
    position: relative;
    font-size: 14px; }
  .renew-contain h4 {
    position: relative;
    font-size: 20px;
    text-shadow: 1px 1px 2px #969696; }
  .renew-contain p {
    margin-left: 60px;
    line-height: 10px; }
  .renew-contain .add-ticks {
    width: 54px;
    font-size: 14px; }

.renew-backdrop {
  position: absolute;
  background: #000;
  opacity: .6;
  width: 100%;
  height: 3200px;
  z-index: 9600; }

#renew {
  width: 840px;
  margin: 0;
  height: auto;
  background: #fff;
  border: 5px solid #0a714c;
  padding: 0 30px 30px;
  top: 0;
  position: static;
  box-shadow: 0 0 40px #888;
  z-index: 98000000000; }
  #renew input {
    margin: 6px; }
  #renew h1 {
    margin-bottom: 22px; }
  #renew h1.thanku {
    font-size: 31px;
    line-height: 110%;
    width: 100%;
    letter-spacing: 0.02em;
    font-family: 'GothamBlack'; }
  #renew h1.steps {
    float: left;
    font-size: 29px;
    margin-bottom: 0; }
  #renew h2 {
    color: #6d6d6d;
    font-size: 17px; }
  #renew h3 {
    font-size: 16px;
    margin: 0; }
  #renew #renewForm {
    display: block;
    width: 720px;
    margin: 0 auto;
    padding: 25px 0 0;
    overflow: hidden; }
  #renew .renew-view {
    background: url("../images/buttons/renew-view.png") no-repeat;
    width: 151px;
    height: 39px;
    position: fixed;
    left: 50%;
    top: 100px;
    margin-left: 360px;
    cursor: pointer;
    -webkit-transform: translateZ(0); }
  #renew .renew-close {
    background: url("../images/buttons/renew-close.png") no-repeat;
    width: 151px;
    height: 39px;
    position: fixed;
    left: 50%;
    top: 50px;
    margin-left: 360px;
    cursor: pointer;
    -webkit-transform: translateZ(0); }
  #renew .num1 {
    position: relative;
    background: url("../renew/images/num.png") no-repeat;
    background-position: 0 0;
    height: 30px;
    width: 30px;
    margin: 8px 12px 5px 0;
    float: left; }
  #renew .num2 {
    position: relative;
    background: url("../renew/images/num.png") no-repeat;
    background-position: 0 -40px;
    height: 30px;
    width: 30px;
    margin: 8px 12px 5px 0;
    float: left; }
  #renew .num3 {
    position: relative;
    background: url("../renew/images/num.png") no-repeat;
    background-position: 0 -80px;
    height: 30px;
    width: 30px;
    margin: 8px 12px 5px 0;
    float: left; }
  #renew .dots {
    position: relative;
    background: left center url("../renew/images/dots.png") no-repeat;
    height: 50px; }
  #renew .renew-logo {
    background: url("../renew/images/logo.png") no-repeat;
    width: 181px;
    height: 125px;
    float: right;
    margin: -125px -50px 10px 0; }
  #renew .top-hr {
    position: relative;
    background: #000000;
    height: 14px;
    color: #FFF;
    text-align: right;
    padding: 7px 40px 0 0;
    margin: 25px 0;
    clear: both; }
  #renew .full_cc, #renew .full_check, #renew .three_cc, #renew .six_cc, #renew .alt_cc, #renew .playoff_1, #renew .playoff_2, #renew .playoff_3, #renew .playoff_no, #renew .playoff_check1, #renew .playoff_check3 {
    z-index: 9999; }
  #renew .submit-cover {
    background: url("../images/buttons/submit.png") no-repeat;
    width: 183px;
    height: 51px;
    cursor: pointer;
    float: right; }
  #renew .submit-button {
    display: none; }
  #renew h3.lili {
    margin-left: 55px; }
    #renew h3.lili p {
      margin: 0;
      font-size: 13px; }
  #renew .bld {
    font-family: 'GothamBlack';
    /*margin-top: 25px !important;*/
    font-size: 19px; }
  #renew .one-indent {
    margin: -26px 0 25px 30px;
    font-weight: bold; }
  #renew .two-indent {
    margin: -23px 0 32px 30px; }

#renew-confirm {
  position: absolute;
  display: none;
  height: 620px;
  width: 700px;
  background: white;
  border: 5px solid #cc9933;
  left: 50%;
  margin-top: -740px;
  margin-left: -350px;
  z-index: 9999; }
  #renew-confirm .transaction-confirm {
    position: relative;
    top: 30px;
    left: 40px;
    font-size: 22px;
    width: 645px; }
  #renew-confirm .transaction-title {
    color: red; }
  #renew-confirm .transaction-details {
    position: relative; }
  #renew-confirm .playoff-confirm {
    position: relative;
    top: 30px;
    left: 30px;
    width: 645px; }
    #renew-confirm .playoff-confirm p {
      margin: 0;
      padding: 10px 0; }
  #renew-confirm .playoff-details {
    font-size: 15px; }
  #renew-confirm .playoff-extra {
    position: relative;
    display: none;
    top: 25px;
    left: 30px;
    width: 645px; }
    #renew-confirm .playoff-extra p {
      margin: 0 0 0 60px; }
  #renew-confirm .renew-submit {
    background: url("../images/buttons/renew-confirm.png") no-repeat;
    position: absolute;
    width: 200px;
    height: 51px;
    top: 560px;
    left: 360px;
    cursor: pointer; }
  #renew-confirm .renew-back {
    background: url("../images/buttons/renew-back.png") no-repeat;
    position: absolute;
    width: 200px;
    height: 51px;
    top: 560px;
    left: 140px;
    cursor: pointer; }

#renew-complete {
  position: absolute;
  display: none;
  height: 370px;
  width: 731px;
  background: black;
  left: 50%;
  margin-top: 200px;
  margin-left: -365px;
  z-index: 9999; }
#renew-complete .renew-close {
  position: absolute;
  bottom: -25px;
  right:0;
  color: white;
  cursor: pointer;
}

/*-----------------------------------*\
    $ACQUISITION VERSION
\*-----------------------------------*/

.nav-hd {
  margin: 173px 0 0px 0px;
}
.acquisition-btn {
  margin-left: 170px;
}

.popup-contain .confirm-appt {
    background: url("../images/pages/confirm-appointment-bg.jpg") no-repeat;
    width: 590px;
    height: 572px;
    position: absolute;
    margin-left: -304px;
    margin-top: -100px;
    padding-right: 20px;
    font-family: 'alternate_gothic';
    font-size: 29px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}
.confirm-customer {
  margin-top: 79px;
  line-height: 1.6;
}
.confirm-time {
  margin-top: 8px;
  color: #006f4a;
  text-shadow: 1px 1px 1px #666;
}
.confirm-small {
  display: none;
  color: black;
  font-size: 15px;
  margin-top: -8px;
  text-shadow: none;
  margin-left: 20px;
}
.rep-holder {
  position: absolute;
  top: 245px;
  left: 274px;
  text-align: left;
  line-height: 30px;
}
.confirm-title {
  color: #006f4a;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: -6px;
  font-style: italic;
}
.confirm-email {
  font-size: 27px;
}
.confirm-thanks {
  background: url('../images/body/confirm-thanks.jpg');
  width: 609px;
  height: 572px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.confirm-email a {
  color: black;
}
a.c-email {
  text-transform: lowercase;
  font-size: 20px;
  color: black;
  text-decoration: underline;
  margin-bottom: 4px;

}
.confirm-options {
  position: absolute;
  top: 443px;
  left: 48px;
}
.confirm-rep-photo {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -8px;
  left: -182px;
  width: 155px;
  height: 154px;
  box-shadow: inset 0px 0px 15px 4px rgba(0,0,0,0.6);
}
#rep-value {
  position: absolute;
  left: 51px;
  top: 43px;
}
.confirm-appt .renew-close {
  position: absolute;
  top: -36px;
  right: 8px;
  color: white;
  cursor: pointer;
}
.confirm-submit {
  background: none;
  display: block;
  width: 162px;
  height: 37px;
  position: absolute;
  text-indent: -9999px;
  left: 174px;
  top: 78px;
  cursor: pointer;
}

.social-links {
  display: block;
  position: absolute;
  left: 133px;
  top: 266px;
  width: 37px;
  z-index: 9999;
}
.social-links a {
  display: block;
  width: 37px;
  height: 41px;
}
.social-links .forward {
  height: 178px;
}
/*-----------------------------------*\
    $LINK_PLACEMENTS
\*-----------------------------------*/
.popup > a, .page > a, .offer-contain > .body > a {
  display: block;
  position: absolute;
  top: 130px;
  left: 410px;
  width: 285px;
  height: 220px;
  cursor: pointer; }

.popup > a, .page > a, .offer-contain > .body > .one {
  position: absolute;
  display: block;
  top: 425px;
  left: 15px;
  width: 330px;
  height: 23px;
  cursor: pointer; }

a.btn {
  text-transform: uppercase;
  border-color: #5f5f5f;
  color: #000;
  background-image:url("../images/buttons/right-arrow-2.png");
  background-repeat: no-repeat;
  background-position: 13px 50%;
  padding-left:32px;
}

a.btn:active {
  -webkit-box-shadow: none;
  box-shadow:none;
  color: #000;
}

/*-----------------------------------*\
    $HELPERS
\*-----------------------------------*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

body.ie8 {
  padding-bottom: 81px; }

#preload {
    background: #000;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@media all and (min-height: 0) and (max-height: 814px) {
  .pad90 {
    padding-bottom: 16px; } }
@media all and (min-height: 0) and (max-height: 788px) {
  .pad90 {
    padding-bottom: 36px; } }
@media all and (min-height: 0) and (max-height: 767px) {
  .pad90 {
    padding-bottom: 70px; } }
@media all and (min-height: 0) and (max-height: 737px) {
  .pad90 {
    padding-bottom: 84px; } }
@media all and (min-height: 0) and (max-height: 677px) {
  .pad90 {
    padding-bottom: 104px; } }


.nav>li>a {
  padding: 0;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}

.hide-loader {display: none;}

a.btn {
    background-image: none;
    background-repeat: no-repeat;
}
a.premium_seating_btn {
    background-image: url("../images/buttons/premium-seating.png");
    background-repeat: no-repeat;
    width: 138px;
    height: 34px;
    text-indent: 90000px;
    overflow: hidden;
}
a.renew_btn {
    background-image: url("../images/buttons/renew-now.png");
    background-repeat: no-repeat;
    width: 96px;
    height: 34px;
    text-indent: 90000px;
    display: inline-block;
    overflow: hidden;
}
a.ref_btn {
    background-image: url("../images/buttons/referral-program.png");
    background-repeat: no-repeat;
    width: 160px;
    height: 34px;
    text-indent: 90000px;
    display: inline-block;
    overflow: hidden;
}
a.add_seats_btn {
    background-image: url("../images/buttons/add-seats.png");
    background-repeat: no-repeat;
    width: 93px;
    height: 34px;
    text-indent: 90000px;
    display: inline-block;
    overflow: hidden;
}
a.program_btn {
    background-image: url("../images/buttons/program-rules.png");
    background-repeat: no-repeat;
    width: 134px;
    height: 34px;
    text-indent: 90000px;
    display: inline-block;
    overflow: hidden;
}
a.ejersey-submit_btn {
    background-repeat: no-repeat;
    width: 134px;
    height: 34px;
    text-indent: 90000px;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    width: 242px;
}

.page-contain ol {
    font-size: 10pt;margin-left: 20px;
}
.page-contain ul {
    font-size: 10pt;margin-left: 20px;
}