#menu {
  width: 245px;
  z-index: 1;
  margin-top: -1000px;
    background: url("../images/body/team-logo.png") no-repeat;
  float:left;}
  #menu .main-menu {
    position: relative;

    z-index: 1;}
    #menu .main-menu .scoreboard {
      position: relative;
      background: url("../images/body/scoreboard.png") no-repeat;
      width: 547px;
      height: 225px;
      top: 78px;
      left: 45px; }
      #menu .main-menu .scoreboard div {
        top: 114px;
        position: absolute;
        font-family: 'score_boardregular';
        font-size: 41px;
        color: #ffffff;
        text-align: right; }
        #menu .main-menu .scoreboard div.days {
          left: 110px; }
        #menu .main-menu .scoreboard div.hours {
          left: 190px; }
        #menu .main-menu .scoreboard div.minutes {
          left: 259px; }
        #menu .main-menu .scoreboard div.seconds {
          left: 338px; }
    #menu .main-menu .nav {

      list-style: none;
      font-size: 7.5pt;
      font-family: futura, 'Arial Black', sans-serif;
      font-weight: bold}
      #menu .main-menu .nav li {
        background: url("../images/buttons/nav-nonactive-bg.png") center no-repeat;
      }
        #menu .main-menu .nav li a div {
          color: #b49759;
          text-align: left;
          text-transform: uppercase;
          padding-left: 22px;
          padding-right: 14px;
          font-size: 10.5pt;
          line-height: 34.67pt;
          letter-spacing: 1.25pt;
          height: 46px;}

        #menu .main-menu .nav li.double-line a div {
          line-height: 10.75pt;
          padding-top: 7.585pt;
        }
        #menu .main-menu .nav li.nav-brown {
            background: url("../images/buttons/lowerbutton.png") no-repeat;}

        #menu .main-menu .nav li.nav-brown a div {
            line-height: 42px;
            height: 42px;
            color: #002a5c;
        }
        #menu .main-menu .nav li.active a div {
           background: url("../images/buttons/right-arrow.png") right center no-repeat;
          color: #fff;}
        #menu .main-menu .nav li.nav-brown.active a div {
          background: url("../images/buttons/lowerbutton-active.png") no-repeat; }


