.main #content .page-contain {
	width: 658px;
	height: inherit;
}

.page {
	background: transparent url('../images/pages/page-top.png') top center no-repeat;
	width: 658px;
	padding-top: 223px;
	position: absolute;
     display: none;
     min-height: 778px;
     color: #fff;
}

.page > div:first-child {
	background: transparent url('../images/pages/center-background.png') repeat;
	font-size: 7pt;
	padding: 50px;
	min-height: 250px;
}

.page > div:first-child h3 {
	font-family: futura_condensed_light, 'Arial Black', sans-serif;
	font-weight:bold;
	font-style: normal;
	font-size: 22px;
	text-transform: uppercase;
    	margin-top: 13px;
    	margin-bottom: 10px;
}

.page > div:first-child h4 {
    font-family: futura, 'Arial Black', sans-serif;
    font-weight: normal;
    font-size: 13.5pt;
    margin-top: 0px;
}

.page > div:first-child * {
	font-size: medium;
}

.page > div:first-child a
 , .page > div:first-child a:hover
 , .page > div:first-child a:visited
 , .page > div:first-child a:active
 , .page > div:first-child a:focus {
	color: #AD9841;
}

.page > div:first-child ul, .page > div:first-child ol {
	margin-left: 25px;
}

.page > div:first-child li
 , .page > div:first-child p {
	padding-top: 10px;
}

.page > div:first-child li:first-child
 , .page > div:first-child p:first-child {
	padding-top: 0px;
}

.lower-info {
	background: #ad9841;
	min-height: 10px;
	clear: both;float: none;
	color: #ffffff;
	margin-top: -10px;
}

.lower-info .left {
    padding-left: 20px; padding-top: 20px;
    float: left;width:250px; font-weight: bold;font-size: 16pt;
}
.lower-info .right {
    float: left;width: 360px;padding-top: 20px;
}

.page-content-section {
	display: none;
}

.page.welcome-page, .page.welcome-page > div:first-child, .page.welcome-page .lower-info  {
	background:transparent;
}
.page.message-page{
	background: transparent url('../images/pages/message-from-wade-miller.jpg') top center no-repeat;
}

.page.pricing-page{
	background: transparent url('../images/pages/season-ticket-membership-pricing.jpg') top center no-repeat;
}

.page.renewal-benefits-page{
	background: transparent url('../images/pages/season-ticket-membership-renewal-benefits.jpg') top center no-repeat;
}

.page.referral-program-page{
	background: transparent url('../images/pages/referral-program.jpg') top center no-repeat;
}

.page.grey-cup-page{
	background: transparent url('../images/pages/grey-cup.jpg') top center no-repeat;
}