


.contact-rep {
    position: absolute;
    background: url("../images/offers/contact-rep-open.png") top left no-repeat;
    width: 62px;
    height: 141px;
    top: 212px;
    right: 0px;
    z-index: 1;
    overflow: hidden;
    display:none;
    -webkit-transition: width 300ms linear, height 300ms linear;
     transition: width 300ms linear, height 300ms linear;
}

.contact-rep #contact-rep-trigger {
    position: absolute;
    width: 52px;
    height: 134px;
    display: inline-block;
    cursor: pointer;
    margin: 8px 0px 0px 8px;
}

.contact-rep.active {
    width: 349px;
    height: 352px;
    z-index: 2;
}

.contact-rep .rep-info {
    float: left;
    width: 289px;
    margin-top: 9px;
    margin-left: 62px;
    display: inline-block;
}

#rep-name {
    text-align: center;
    font-family: futura_light, 'Arial Black', sans-serif;
    font-weight:normal;
    font-style: normal;
    font-size: 27px;
    line-height: 21pt;
    margin-top: 26px;
}
#rep-title {
    text-align: center;
    font-size: 6.25pt;
    line-height: 12.5pt;
}

#rep-avatar {
    font-family: futura_medium, 'Arial Black', sans-serif;
    text-align: center;
    height: 94px;
    margin-top: 10px;
}

#rep-phone {
    font-family: futura_book, 'Arial Black', sans-serif;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 91px;
}

#rep-email {
    height:35px;
    text-align: center;
    margin-left: 22px;
}

#rep-email a {
    display: block;
    height: 35px;
    width:244px;
}