<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8">
<![endif]-->
<!--[if IE 9]>
<html class="ie8">
<![endif]-->

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=1300, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Winnipeg Blue Bombers</title>

    <link rel="stylesheet" href="css/reset.css?7" type="text/css" media="all" title="" charset="utf-8"></link>
    <link rel="stylesheet" href="css/fonts.css?7" type="text/css" media="all" title="" charset="utf-8"></link>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>

    <link rel="stylesheet" href="css/main.css?7" type="text/css" media="all" title="" charset="utf-8"></link>
    <link rel="stylesheet" href="css/menu.css?7" type="text/css" media="all" title="" charset="utf-8"></link>
    <link rel="stylesheet" href="css/page.css?7" type="text/css" media="all" title="" charset="utf-8"></link>
    <link rel="stylesheet" href="css/rep.css?7" type="text/css" media="all" title="" charset="utf-8"></link>
    <link rel="stylesheet" href="css/ejersey.css?7" type="text/css" media="all" title="" charset="utf-8"></link>
    <link rel="stylesheet" href="css/footer.css?7" type="text/css" media="all" title="" charset="utf-8"></link>

    <link rel="stylesheet" href="css/countdown.css?7" type="text/css" media="all" title="" charset="utf-8"></link>

    <link rel="shortcut icon" type="image/x-icon" href="/images/body/favicon.png" ></link>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'></link>

    <!--[if IE]>
    <style type="text/css">
        .right-side-tabs-contain .right-side-tabs .contact-rep .rep-name {
            font-size: 18px;
            margin: 10px 0 8px;
        }
        .right-side-tabs-contain .right-side-tabs .contact-rep .rep-title,
        .right-side-tabs-contain .right-side-tabs .contact-rep .rep-email,
        .right-side-tabs-contain .right-side-tabs .contact-rep .rep-phone {
            font-size: 12px;
            margin: 0 0 5px;
        }
        #menu .main-menu .nav { left: 170px; }
    </style>
    <![endif]-->

    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <style type="text/css">
            .popup-contain .video-popup {
               margin-left: -869px;
               margin-top: -558px;
            }
      </style>
    <![endif]-->
    <script src="js/libs/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="cf">
    <div class="renew-catch"></div>
    <div class="intro-logo">
        <img src="images/loader-images/loader-image-1.png" class="right loader-one video-bg" />
        <img src="images/loader-images/loader-image-2.png" class="right loader-two video-bg" />
        <img src="images/loader-images/loader-image-3.png" class="right loader-three video-bg" />
    </div>
    <img src="images/intro/video/bg.png" class="video-bg" data-page="play-intro" />
    <div class="intro-video">
        <div class="video-popup">
            <div class="video-container">
                <div class="jwplayer" id="intro-video" data-video=""></div>
            </div>
            <div class="skip-intro"></div>
        </div>
    </div>
    <div class="body-bg">
        <div class="bg-1"></div>
        <div class="bg-2"></div>
        <div class="bg-3"></div>
        <div class="bg-4"></div>
        <div class="bg-5"></div>
        <div class="bg-6"></div>
        <div class="bg-7"></div>
        <div class="bg-8"></div>
        <div class="bg-9"></div>
        <div class="bg-10"></div>
    </div>
    <div class="play-vid"></div>
    <!--<div class="mute audioon"></div>-->

    <!-- CUSTOMER LOGIC
        <div class="welcome">
            Welcome, {{ customer.getName }}
        </div>
    -->

    <div id="wrapper" class="clearfix hide-loader">
        <div id="menu">
            <div class="main-menu">
                <div id="menu-clock">
                    <!--<img src="images/body/clock-replacement.png" class="nav-hd" alt="" />-->
                    <div class="countdown3 nav-hd">
                        <div class="days">-263</div>
                        <div class="hours">16</div>
                        <div class="minutes">04</div>
                        <div class="seconds">03</div>
                    </div>
                </div>
                <!-- *******NAVIGATION*******-->
                <div id="site_navigation"></div>
            </div>

            <!-- CUSTOMER LOGIC
                {% if customer is defined and not customer.getRenewal and segment == 'consumer' %}
                  <a href="javascript:void(0);" class="haspop" data-popup="renewform"><div class="renew-button"></div></a>
                {% elseif segment == 'acquisition' and customer is defined and customer.getCustomPicture is null %}
                <a href="javascript:void(0);" class="acquisition-btn haspop" data-popup="confirm-appt">
                    <img src="images/buttons/confirm-appointment.jpg" alt="Confirm Appointment" />
                </a>
                {% endif %}
                {% if customer is defined and segment == 'consumer' %}
                <a href="/invoice/{{ customer.getSlug }}" class="invoice-button invoice-click"></a>
                {% endif %}
            -->
        </div>

        <!-- *******POPUPS*******-->
        <div id="site_popups"></div>

        <div class="main hide-loader">
            <div id="content" class="cf">
                <div class="page-contain">
                    <div class="page welcome-page" data-current="home">
                        <div class="home-bg">
                             <div class="home-copy-container">
                                <div class="home-copy"></div>
                             </div>
                        </div>
                        <div class="lower-info"></div>
                    </div>

                    <div class="page message-page message" data-current="message">
                        <div class="message-page-bg">
                            <h3>Thank You Message</h3>
                            <p>
                                On behalf of General Manager Kyle Walters, Head Coach Mike O’Shea, and the entire Winnipeg Blue Bomber football team,
                             I want to thank you for your continued support of the Winnipeg Blue Bombers.  As the Club’s President and CEO, a former Bomber player,
                             and a born-and-raised Manitoban, I know what it means to be a Bomber fan. Bomber fans are the loudest fans in the CFL, always dressed in Bomber gear,
                             backing the team as the 13th man, every single time we take the field.  That is what Blue Bomber football is all about.
                            </p>
                            <p>
                                I want to make it easy for all Blue Bomber Season Ticket Members to go to the 2015 Grey Cup game in Winnipeg. Along with getting exclusive access to
                                tickets purchase, if you confirm your Season Ticket Membership for the 2015, 2016 & 2017 seasons, you’ll receive a $100 discount on your 2015 Grey
                                Cup seat.
                            </p>
                            <p>
                                I look forward to seeing you at a game,
                            </p>
                            <p>
                                Wade Miller<br/>
                                President & Chief Executive Officer<br/>
                                Winnipeg Football Club
                            </p>
                        </div>
                        <div class="lower-info"></div>
                    </div>
                    <div class="page pricing-page benefits" data-current="pricing">
                        <div class="group-plan-bg">
                            <h3>Season Ticket Membership Pricing</h3>
                            <p>Premium Seating button – links to page with asset dependent on their ticket package</p>
                            <a href="pdf/Regular Season Ticket Pricing.pdf" target="_blank">10 Game Season Ticket Holders</a><br/>
                            <a href="images/body/Regular Season Ticket Pricing-01.jpg" target="_blank">10 Game Season Plus Home Playoff</a><br/>
                            <a href="images/body/Premium Season Ticket Pricing-01.jpg" target="_blank">Premium Season Ticket Members </a><br/>
                            <a href="images/pages/bb-Renew-now-form.png" class="renew_btn" target="_blank">&nbsp;</a>
                        </div>
                        <div class="lower-info"></div>
                    </div>
                    <div class="page renewal-benefits-page benefits" data-current="renewal-benefits">
                        <div class="renewal-benefits-bg">
                            <h3>Season Ticket Membership Renewal Benefits</h3>
                            <ul>
                                <li>Up to 35% off single home game prices. Your price includes all premium game fees ($8.00 per ticket) and per-ticket service fees that would otherwise be applicable on individual game tickets (up to $7.50 per ticket).</li>
                                <li>Purchase additional tickets ahead of the general public for individual home games, including the Manitoba Liquor and Lotteries Banjo Bowl.</li>
                                <li>Get first access to 2015 Grey Cup game tickets. </li>
                                <li>Get a $100 discount on your Grey Cup ticket when you confirm your Season Ticket Membership for the 2015, 2016 & 2017 seasons.</li>
                                <li>Receive 15% off merchandise at the Bomber Store.</li>
                                <li>Manage your Season Ticket account online through My Bomber Account. At no cost, forward your game tickets to family, friends, or clients.</li>
                                <li>The Winnipeg Blue Bombers are proud to Partner Up with local businesses, offering great deals to Winnipeg Blue Bombers Season Ticket Members.</li>
                                <li>Bluebombers.com is updated with offers throughout the season.</li>
                            </ul>
                            <a href="images/pages/bb-Renew-now-form.png" class="renew_btn" target="_blank">&nbsp;</a>
                        </div>
                        <div class="lower-info"></div>
                    </div>
                    <div class="page referral-program-page referral-program" data-current="referral-program">
                        <div class="referral-program-bg">
                            <h3>Referral Program</h3>
                            <div class="page-content">
                                <div id="referral-program" class="page-content-section">
                                    <p>The Winnipeg Blue Bombers are pleased to announce details for the 2015 Season Ticket Referral Program.  We want to reward you for building the Bomber Nation.</p>
                                    <p>There are two ways to earn referral rewards:
                                        <ol>
                                            <li>Refer a new Season Ticket Member</li>
                                            <li>Add seats to your current Season Ticket Membership</li>
                                        </ol>
                                    </p>
                                    <p>New Season Ticket Member Referral Reward bonus:
                                        <ul>
                                            <li>$200 Bomber Store Gift Card</li>
                                            <li>4 free tickets to a 2015 Bomber pre-season game</li>
                                            <li>Special VIP invite for 2 to a pre-game sideline experience at a 2015 Bomber home game</li>
                                            <li>Your name on the Bomber website, bluebombers.com, for 2015</li>
                                        </ul>
                                    </p>
                                    <p>To qualify for your referral reward bonus, Season Ticket Members are invited to provide the Winnipeg Football Club with the contact information of potential new Season Ticket Members. Our Season Ticket Account Representatives will follow up with the potential new Season Ticket Member.</p>
                                </div>
                                <div id="add-seats" class="page-content-section">
                                    <p>Add additional seats to your current Season Ticket Membership.</p>
                                    <p>For each additional ticket added to your account, you will receive the following:
                                        <ul>
                                            <li>$100 Bomber Store Gift Card</li>
                                            <li>4 free tickets to a 2015 Bomber pre-season game</li>
                                            <li>Special VIP invite for 2 to a pre-game sideline experience at a 2015 Bomber home game</li>
                                        </ul>
                                    </p>
                                </div>
                                <div id="program-rules" class="page-content-section">
                                    <h4>Program Rules</h4>
                                    <ol>
                                        <li>Program does not apply to resellers</li>
                                        <li>Season Tickets must be paid in full in order to receive to reward.</li>
                                        <li>Transferred Season Tickets of any kind are not eligible for rewards.</li>
                                        <li>Rewards are awarded only for referral sales to new Season Ticket Members.</li>
                                        <li>Referral must be communicated within 5 business days of initial payment to qualify.</li>
                                        <li>Add-on Season Tickets are defined as any Season Ticket purchased in addition to total number of tickets initially invoiced for 2014 season. Season Ticket Holders may not release a seat (seats) and add-back the seat (seats) at a later date to receive the referral bonus.</li>
                                        <li>The Winnipeg Football Club reserves the right to maintain the integrity of the Referral Program and to refuse to allow anyone who attempts to manipulate the Referral Program, to participate.</li>
                                    </ol>
                                    <p>If you have any questions about this program, please call our Season Ticket Centre at 204-784-7448.
                                </div>
                            </div>
                            <a href="images/pages/bb-Renew-now-form.png" class="renew_btn" target="_blank">&nbsp;</a>
                            <a href="JavaScript:void(0);" class="sub-page-nav-item ref_btn" data-page="referral-program">&nbsp;</a>
                            <a href="JavaScript:void(0);" class="sub-page-nav-item add_seats_btn" data-page="add-seats">&nbsp;</a>
                            <a href="JavaScript:void(0);" class="sub-page-nav-item program_btn" data-page="program-rules">&nbsp;</a>
                        </div>
                        <div class="lower-info"></div>
                    </div>
                    <div class="page grey-cup-page" data-current="grey-cup">
                        <div class="grey-cup-bg">
                            <h3>2015 Grey Cup Ticket Pricing</h3>
                            <a href="pdf/Grey Cup Ticket Pricing.pdf" target="_blank"><img src="images/body/grey-cup.png"></a>
                        </div>
                        <div class="lower-info"></div>
                    </div>

                    <!-- CUSTOMER LOGIC
                    <div class="page custom-page">
                        <div class="custom-bg">
                            {% if customer is defined %}
                            <div class="custom-copy">{{ customer.getCustomContent()|evaluate|raw }}</div>
                            {% endif %}
                        </div>
                    </div>
                    -->

                </div>
            </div>
        </div>
    </div>
    <div class="contact-rep hide-loader">
        <div id="contact-rep-trigger"></div>
        <div class="rep-info">
            <div id="rep-name">Sarah Brown</div>
            <div id="rep-title">Vice President of Ticket Sales</div>
            <div id="rep-avatar"><img src="images/rep_photos/default.png" /></div>
            <div id="rep-phone">555-444-3333</div>
            <div id="rep-email"><a href="mailto:tsupport@bluebombers.com"></a></div>
        </div>
    </div>
    <div class="ejersey-slide-out hide-loader">
        <div id="ejersey-trigger"></div>
        <div id="ejersey-form-container">
            <form  role="form" id="frmEJersey">
                <input type="text" class="form-control" placeholder="NAME" id="personal-name" />
                <input type="text" class="form-control" placeholder="Number" id="personal-number" />
                <a href="JavaScript:void(0);" class="ejersey-submit_btn" id="personal-btn" data-page="add-seats">&nbsp;</a>
            </form>
        </div>
    </div>
 <!-- end of wrapper -->
    <div class="clearfix cf"></div>


    <div class="tabs-mask">
        <div class="right-side-tabs-contain">
            <div class="right-side-tabs">

                <!-- CUSTOMER LOGIC
                <div class="contact-rep">
                    <div class="rep-info">
                {% if customer.getSegment is defined and rep is defined %}
                        {% if (rep.getPhoto is defined) and (rep.getPhoto != "") %}
                            <img src="images/rep_photos/{{ rep.getPhoto }}" width="120" class="rep-photo" style="right: 30px;">
                        {% else %}
                            <img src="images/rep_photos/default.png" width="120" class="rep-photo" style="right: 30px;">
                        {% endif %}
                        <p class="rep-name">{{ rep.getName }}</p>
                        <p class="rep-title">{{ rep.getTitle }}</p>
                        <p class="rep-email"><a href="mailto:{{ rep.getEmail }}?subject=Inquiry from {{ customer.getName|url_encode }} via Dallas Stars Online Renewal">{{ rep.getEmail }}</a></p>
                        <p class="rep-phone">{{ rep.getPhoneNumber }}</p>
                {% else %}
                        <img src="images/rep_photos/default.png" width="120" class="rep-photo" style="right: 30px;">
                        <p class="rep-name">Dallas Stars</p>
                        <p class="rep-title">Ticket Sales</p>
                        <p class="rep-email">tickets@dallasstars.com</p>
                        <p class="rep-phone">214-GO-STARS</p>
                {% endif %}
                    </div>
                    <div class="rep-collapsed"></div>
                    <div class="rep-link"></div>
                </div>
                -->


            </div>
        </div>
    </div>

    <footer class="footer hide-loader">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-2 ">
                    <ul class="nav navbar-nav socail-media-link">
                        <li><a href="mailto:?subject=Check Out My eBrochure&body=Take a look at the Ticket information for 2014-15, including Season Tickets, Half Seasons, 10-Game Plans, Groups and Suites.%0D%0A%0D%0Ahttp://seasontickets..com"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter "></i></a></li>
                        <li><a href="http://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-10 text-right text-nowrap">
                    <span id="phone-number">204-784-7448</span>
                    <span class="sitelink"><a href="http://www.bluebombers.com" target="blank">BLUEBOMBERS.COM</a></span>
                    <img src="images/body/favicon.png" alt="BLUEBOMBERS.COM" />
                </div>

            </div>
        </div>
    </footer>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-39492601-2', 'auto');
      ga('send', 'pageview', { 'page': location.pathname + location.search  + location.hash });
    </script>

    <!-- CUSTOMER LOGIC
    {% if customer is defined %}
        <script type="text/javascript">
            $(document).ready(function() {
                $.ajax({
                    type: "POST",
                    url: "/_notification",
                    data: {
                        notification: 'viewed',
                        customerSlug: '{{ customer.getSlug }}',
                        customerName: '{{ customer.getName }}',
                        customerEmail: '{{ customer.getEmail }}',
                        repEmail: '{{ rep.getEmail }}',
                    },
                    success: function(res) {}
                });
            });
        </script>
    {% endif %}
    -->

    <script src="js/script.js?7" type="text/javascript" charset="utf-8"></script>
    <script src="js/swfobject.js" type="text/javascript" charset="utf-8"></script>
    <script src="jwplayer/jwplayer.js" type="text/javascript" charset="utf-8"></script>

    <!-- CUSTOMER LOGIC
    <script type='text/javascript'>
        $(document).ready(function () {
            {% if rep is defined %}
            _gaq.push(['_setCustomVar', 2, 'Rep', '{{ rep.getSlug }}', 1]);
            {% endif %}
            {% if customer is defined %}
            _gaq.push(['_setCustomVar', 3, 'Customer', '{{ customer.getSlug }}', 1]);
            {% endif %}
        });
    </script>
    -->

    <div class="clearfix"></div>

    <!-- *******PRELOAD*******-->
    <div id="site_prelaod"></div>


    <script src="js/countdown.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
