<ul class="nav">
    <li class="nav-item" data-page="welcome">
        <a href="#welcome"><div class="welcome">Home</div></a>
    </li>
    <li class="nav-item" data-page="message">
        <a href="#message"><div class="message">Message From Wade</div></a>
    </li>

    <li class="nav-item double-line" data-page="pricing">
        <a href="#pricing"><div class="pricing">Season Ticket Membership Pricing</div></a>
    </li>

    <li class="nav-item double-line" data-page="renewal-benefits">
        <a href="#renewal-benefits"><div class="renewal-benefits">Season Ticket Membership Renewal Benefits</div></a>
    </li>
    <li class="nav-item" data-page="referral-program">
        <a href="#referral-program"><div class="referral-program">Referral Program</div></a>
    </li>
    <li class="nav-item" data-page="grey-cup">
        <a href="#grey-cup"><div class="grey-cup">Grey Cup</div></a>
    </li>
    <li class="nav-item nav-brown" data-page="invoice">
        <a href="images/pages/p1.png"  target="_blank"><div class="invoice">View Invoice</div></a>
    </li>
    <li class="nav-item nav-brown" data-page="renew-now">
        <a href="images/pages/bb-Renew-now-form.png" target="_blank"><div class="renew-now">Renew Now</div></a>
    </li>

</ul>