<!--{% if customer is defined %}
{% set cName, cTime, repName, repTitle, repEmail, repPhone, cSlug, repPhoto  = customer.getName, customer.getCustomPictureTitle, rep.getName, rep.getTitle, rep.getEmail, rep.getPhoneNumber, customer.slug, rep.getPhoto %}
{% else %}
{% set cName, cTime, repName, repTitle, repEmail, repPhone, cSlug, repPhoto  = 'Stars Customer', '3:45pm', 'Stars Rep', 'Sales Representaqtive', 'sales@dallasstars.com', '555.555.5555', '08888', 'sample-rep-photo.jpg' %}
{% endif %}-->

<div class="popup-contain">
    <div class="popup jersey-btn-pop">
        <div class="close-pop">CLOSE X</div>
        <div id="personalize-jersey-contain">

            <div class="personal-target">
                <img id="person-img" src=""/>
            </div>

            <div class="personal-share">
                <a href="" id="twt-share" target="blank"></a>
                <a href="" id="fb-share" target="blank"></a>
                <a href="" id="email-share" target="blank"></a>
                <a href="javascript:void(0);" class="personal-download" target="blank"></a>
            </div>

            <div class="personal-social"></div>

            <div id="personalize-jersey"></div>
        </div>
    </div>

    <div class="popup confirm-appt">
         <div class="confirm-customer">Test Customer <!--{{ cName }}--></div>
         <div class="confirm-time">
            March 30th at
            <div class="confirm-small">
                PLEASE ARRIVE 30 MINUTES PRIOR TO YOUR SCHEDULED APPOINTMENT TIME TO VIEW BEST AVAILABLE SEAT LOCATIONS.
            </div>
        </div>
         <div class="rep-holder">
             <div class="confirm-rep-photo" style="background: url('/images/rep_photos/{{ repPhoto }}'); background-size: cover;"></div>
             <div class="confirm-name">Rep Name <!--{{ repName }}--></div>
             <div class="confirm-title">Rep Title <!--{{ repTitle }}--></div>
             <div class="confirm-email"><a href="mailto:reptest@test.com" target="_blank">Rep Email<!--{{ repEmail }}--></a></div>
             <div class="confirm-phone">Rep Phone<!--{{ repPhone }}--></div>
        </div>
         <div class="confirm-options">
            <form id="confirm-appt-form">
                <input type="hidden" name="slug" value="testslug">
                <input type="radio" name="confirm-appt" id="event-value" value="event" checked><label for="event-value"></label><br>
                <input type="radio" name="confirm-appt" id="rep-value" value="rep"><label for="rep-value"></label><br>
                <input type="submit" class="confirm-submit" value="send">
            </form>
         </div>
        <div class="confirm-thanks"></div>
        <div class="renew-close">CLOSE X</div>
    </div>
    <div class="personal-catch2"></div>
</div>
