
    <!--
    {% if customer.getRenewal is defined %}
        <script>
            $(document).ready(function() {
                $('#renew').hide();
                $('#renew-complete').hide();
            });
        </script>
    {% endif %}
    -->
    <h1 style="font-size:32px;">THANK YOU FOR RENEWING <br>YOUR STARS SEASON SEATS <br>FOR THE 2014-15 SEASON!</h1>
    <div class="renew-logo"></div>
    <div class="top-hr" style="height: 28px">Renewal Deadline: March 28, 2014</div>

    <h3>This year, renewing your seats could not be any easier! Simply follow the <font color="#0a714c">THREE STEPS</font> below and you will have renewed your season seats and reserved your playoff tickets!</h3>
    <h1 class="steps">STEP</h1> <div class="num1" style="margin:25px 0 0 15px;"></div><br>
    <h2 style="clear:both;">SELECT YOUR DESIRED 2014-15 SEASON SEAT PAYMENT PLAN OPTIONS</h2>

    <div class="dots"></div>

    <h1 class="steps">STEP</h1> <div class="num2" style="margin:25px 0 0 15px;"></div><br>
    <h2 style="clear:both;">CHOOSE YOUR DESIRED 2014 STANLEY CUP PLAYOFFS OPTION</h2>

    <div class="dots"></div>

    <h1 class="steps">STEP</h1> <div class="num3" style="margin:25px 0 0 15px;"></div><br>
    <h2 style="clear:both;">SECURE ADDITIONAL SEATS</h2>

    <div class="dots"></div>

    <h3>Then click submit!</h3>

    <div class="top-hr"></div>

    <div class="num1"></div><h1>SELECT YOUR DESIRED PAYMENT PLAN</h1>

    <input type="radio" name="payment" value="full_cc" class="full_cc">

    <h4 class="full_cc_title one-indent">PAY IN FULL BY CREDIT CARD</h4>
    <div class="full_cc_desc one-indent">
        <h3>By selecting this option, your total amount due of <font color="red">${{ customer.getNumSeats|number_format(2) }}</font> will be charged to your <font color="red">{{ customer.getCustomTitle }}</font> ending in <font color="red">{{ customer.getCustomContent }}</font> on March 29, 2014.</h3>
    </div>

    <input type="radio" name="payment" value="full_check" class="full_check">

    <h4 class="full_check_title one-indent">PAY IN FULL BY CHECK</h4>
        <div  class="full_check_desc one-indent">
            <h3>By selecting this option, you agree to send a check for <font color="red">${{ customer.getNumSeats|number_format(2) }}</font> no later than March 29 to:</h3>
            <h3>
                <p>Dallas Stars</p>
                <p>ATTN: Demo Person <!--{{ rep.getName }}--></p>
                <p>2601 Avenue of the Stars</p>
                <p>Frisco, TX 75034</p>
            </h3>
        </div>

    <input type="radio" name="payment" value="three_cc" class="three_cc">

    <h4 class="three_cc_title one-indent">THREE PAYMENT PLAN</h4>
        <div class="three_cc_desc one-indent">
        <h3>By selecting this option, your <font color="red">Custom Title <!--{{ customer.getCustomTitle }}--></font> ending in <font color="red">Custom Content <!--{{ customer.getCustomContent }}--></font> will be charged the following amounts on the specified dates:</h3>
            <h3>
                <p>Payment One: <font color="red">${{ renewalData.payThreeOne|number_format(2) }}</font> on March 29, 2014</p>
                <p>Payment Two: <font color="red">${{ renewalData.payThreeTwo|number_format(2) }}</font> on July 18, 2013</p>
                <p>Payment Three: <font color="red">${{ renewalData.payThreeThree|number_format(2) }}</font> on September 12, 2014</p>
            </h3>
        </div>

    <input type="radio" name="payment" value="six_cc" class="six_cc">

    <h4 class="six_cc_title one-indent">SIX PAYMENT PLAN</h4>
        <div class="six_cc_desc one-indent">
            <h3>By selecting this option, your <font color="red">{{ customer.getCustomTitle }}</font> ending in <font color="red">{{ customer.getCustomContent }}</font> will be charged the following amounts on the specified dates:</h3>
            <h3>
                <p>Payment One: <font color="red">${{ renewalData.paySixOne|number_format(2) }}</font> on March 29, 2014</p>
                <p>Payment Two: <font color="red">${{ renewalData.paySixTwo|number_format(2) }}</font> on May 16, 2014</p>
                <p>Payment Three: <font color="red">${{ renewalData.paySixThree|number_format(2) }}</font> on June 13, 2014</p>
                <p>Payment Four: <font color="red">${{ renewalData.paySixFour|number_format(2) }}</font> on July 18, 2014</p>
                <p>Payment Five: <font color="red">${{ renewalData.paySixFive|number_format(2) }}</font> on August 15, 2014</p>
                <p>Payment Six: <font color="red">${{ renewalData.paySixSix|number_format(2) }}</font> on September 12, 2014</p>
            </h3>
        </div>

        <input type="radio" name="payment" value="alt_cc" class="alt_cc">

        <h4 class="alt_cc_title one-indent">ALTERNATIVE CREDIT CARD</h4>
        <div class="alt_cc_desc one-indent">
            <h3>I would like to renew my 2014-15 Stars Season Seats using a different credit card. Please have my Customer Service Manager contact me to get the new card.<br><br> <span style="color:green">An additional processing fee of $10 per account applies for renewing and will be charged on date of first payment.</span></h3>
        </div>
        <div class="top-hr"></div>

        <div class="num2"></div><h1>2014 STANLEY CUP PLAYOFF OPTIONS</h1>

        <input type="radio" name="playoff" value="playoff_1" class="playoff_1">

        <h4 class="one-indent">YES...I WANT TO ORDER MY PLAYOFF STRIPS!</h4>
        <h3 class="playoff_1_desc one-indent">At the conclusion of each round, I agree to pay for the 2014 Stars home playoff games with my credit/debit card <font color="red">{{ customer.getCustomTitle }}</font> ending in <font color="red">{{ customer.getCustomContent }}</font>. (Renewed Season Seat Holders Only)</h3>

        <input type="radio" name="playoff" value="playoff_2" class="playoff_2">

        <h4 class="one-indent">YES...I WANT TO ORDER MY PLAYOFF STRIPS!</h4>
        <h3 class="playoff_2_desc two-indent">I choose to pay in advance for all potential Stars home playoff games PRIOR TO EACH ROUND with check, cash or credit card. Any credits from games not played will be automatically applied to my Dallas Stars season ticket account unless otherwise requested for refund.</h3>

        <input type="radio" name="playoff" value="playoff_no" class="playoff_no">

        <div>
            <h3 class="playoff_no_desc two-indent">I choose not to purchase any 2014 Stanley Cup Playoff tickets and understand my seats will be resold for the 2014 Stanley Cup Playoffs.</h3>
        </div>

        <div class="top-hr"></div>

        <div class="num3"></div><h1>SECURE ADDITIONAL SEATS</h1>
        <input type="hidden" name="playoffExtra" id="playoffExtra" value="0">
        <input type="hidden" name="fullExtra" id="fullExtra" value="0">

        <input type="checkbox" name="fullExtra" value="1" class="playoff_1">
        <h4 class="one-indent">I INTEND TO PURCHASE ADDITIONAL FULL SEASON SEATS FOR THE 2014-15 SEASON</h4>

        <input type="checkbox" name="playoffExtra" value="1" class="playoff_1">
        <h4 class="one-indent" style="padding-bottom: .5em">I INTEND TO PURCHASE ADDITIONAL 2014 STANLEY CUP PLAYOFF STRIPS</h4>
        <h3 class="playoff_1_desc one-indent">Additional single game tickets for the 2014 Stanley Cup Playoffs will be made available at a later date.</h3>

        <div class="top-hr"></div>

        <h1>SUBMIT</h1>
        <h3>By submitting this payment, I agree to all 2014-15 terms and conditions.</h3>
            <br>
        <h4 style="font-family: 'GothamBlack'; font-size: 22px; margin: 0 0 5px 0;">2014-15 Terms and Conditions</h4>
        <h3>ALL SEASON TICKET RENEWALS ARE FINAL AND NOT SUBJECT TO REFUNDS OR RETURNS. Season tickets are revocable licenses. The Dallas Stars reserve the right to revoke the license granted by any ticket by refunding the account value of remaining games. Account holders are responsible for ensuring that the full and prompt payment of any and all amounts due with respect to its ticket account are received by the team on or before the established deadlines.</h3>

        <div class="submit-cover"></div>

        <input type="hidden" name="customerId" value="{{ customer.getId }}">
        <input type="hidden" name="rep" value="{{ rep.getEmail }}">
        <input type="hidden" name="customerName" value="{{ customer.getName }}">

        <input type="hidden" name="paymentInfo" id="paymentInfo" value="">
        <input type="hidden" name="playoffInfo" id="playoffInfo" value="">

        <input type="hidden" name="subtotal" id="subtotal" value="${{ customer.getSection|number_format(2) }}">
        <input type="hidden" name="credit" id="credit" value="${{ customer.getRow|number_format(2) }}">
        <input type="hidden" name="lockout" id="lockout" value="${{ customer.getSeats|number_format(2) }}">
        <input type="hidden" name="total" id="total" value="${{ customer.getNumSeats|number_format(2) }}">

