@font-face {
    font-family: 'gotham_black';
    src: url('../../fonts/gothamblack-webfont.eot');
    src: url('../../fonts/gothamblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gothamblack-webfont.woff') format('woff'),
         url('../../fonts/gothamblack-webfont.ttf') format('truetype'),
         url('../../fonts/gothamblack-webfont.svg#gotham_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}