body, html {
  width: 100%;
  height: auto; }

body {
  background: url("../images/subtle_carbon.png"); }

#main {
  width: 930px;
  margin: 0 auto 0;
  background: #fff;
  border: 5px solid #cc9933;
  padding: 0 30px 30px;
  position: relative;
  box-shadow: 0 0 40px #888;
  font-family: 'gotham_black'; }

h1 {
  color: #000000;
}

h2 {
  font-size: 28px;
  color: #cc9900;
  line-height: 18px;
  margin-left: 60px;
  text-shadow: 1px 1px 1px #333;
}
h3 {
  font-size: 22px;
  margin-left: 60px;
  text-shadow: 1px 1px 1px #CCC;
}
p {
  margin-left: 60px;
  line-height: 10px;
}
.full_cc {
  position: absolute;
  top: 338px;
}
.full_check{
  position: absolute;
}

.three_cc{
  position: absolute;
}

.six_cc{
  position: absolute;
}

.alt_cc{
  position: absolute;
}
.playoff_1{
  position: absolute;
 }
.playoff_2{
  position: absolute;
}
.playoff_3{
  position: absolute;
}
.playoff_no{
  position: absolute;
}
.playoff_check1{
  position: absolute;
  top: 1475px;
  left: 120px;
}
.playoff_check2{
  position: absolute;
  top: 1662px;
  left: 120px;
}
.playoff_check3{
  position: absolute;
  top: 1849px;
  left: 120px;
}
.submit-cover{
  background: url('../images/submit.png') no-repeat;
  position: relative;
  left: 740px;
  width: 183px;
  height: 51px;
  cursor: pointer;
}
.submit_button{
display: none;
}