body, html {
  width: 100%;
  height: auto; }

body {
  background: none; }

#main {
  width: 100%;
  margin: 0 auto 0;
  background: none;
  border: none;
  position: relative; }
  #main #invoice-bg {
    height: auto;
    width: 100%; }
  #main #invoice-info {
    position: absolute;
    width: 100%;
    height: 140px;
    top: 175px;
    left: 0; }
    #main #invoice-info .item {
      float: left;
      text-align: center;
      height: 100%;
      margin: 0;
      color: #000;
      font-size: 16px;
      font-family: 'helvetica', sans-serif; }
    #main #invoice-info #plan-type {
      width: 14%;
      margin-left: 9%;
      text-transform: capitalize; }
    #main #invoice-info #section {
      width: 11.5%; }
    #main #invoice-info #row {
      width: 6%; }
    #main #invoice-info #seats {
      width: 10.5%;
      font-size: 12px; }
    #main #invoice-info #number-of-seats {
      width: 11%; }
    #main #invoice-info #price-per-seat {
      width: 15%; }
    #main #invoice-info #amount-due {
      width: 13%;
      margin-right: 10%; }
      #main #print-button{
        display: none;
    }
    
          #main #user-info{
        position: absolute;
        width: 45%;
        height: 120px;
        top: 580px;
        left: 15%;
        text-transform: uppercase;
        font-family: 'helvetica', sans-serif;
        font-size: 16px;
      }
      #main #user-info #account{
          float: left;
          width: 100%;
      }
      #main #user-info #name{
          float: left;
          width: 100%;
      }
      #main #user-info #street{
          float: left;
          width: 100%;
      }
      #main #user-info #city{
          float: left;
          width: auto;
          display: inline-block;
          margin-right: 10px;
      }
      #main #user-info #state{
          float: left;
          width: auto;
          display: inline-block;
          margin-right: 10px;
      }
      #main #user-info #zip{
          float: left;
          width: auto;
          display: inline-block;
      }
    #main #invoice-info .item .row{
        width: 100%;
        display: block;
        height: 13px;
        font-size: 13px;
      }

#main #pricing{
            width: 10%;
            height: 100px;
            position: absolute;
            top: 369px;
            right: 16.5%;
      }
      #main #pricing .price{
          width: 100%;
          display: block;
          text-transform: uppercase;
          font-family: 'helvetica', sans-serif;
          font-size: 12px;
      }
      #main #pricing #abox{
          margin-top: 5px;
      }
      #main #pricing #bbox{
          margin-top: 5px;
      }
      #main #pricing #cbox{
          margin-top: 14px;
      }