
@font-face {
    font-family: 'alternate_gothic';
    src: url('../../fonts/alternategothic2.eot');
    src: url('../../fonts/alternategothic2.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/alternategothic2.woff') format('woff'),
         url('../../fonts/alternategothic2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'GothamBlack';
  src: url('../../fonts/GothamBlack.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/GothamBlack.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/GothamBlack.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/GothamBlack.svg#ba4ac0babd0f10b69ed14d91cd5c8788') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'GothamBold';
  src: url('../../fonts/GothamBold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/GothamBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/GothamBold.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/GothamBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/GothamBold.svg#4b05af1f343b473876284bf412b923ab') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}


