html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
body, html {
  width: 100%;
  height: auto; }

body {
  background: url('../images/invoice-bg.jpg') no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
}

#main {
  width: 960px;
  margin: 0 auto 0;
  background: #fff;
  border: 1px solid #202020;
  position: relative;
  box-shadow: 0 0 40px #888; }
  #main #invoice-bg {
    height: auto;
    width: 131%;
    margin-top: -34px; }
  #main #invoice-head {
    position: absolute;
    width: 100%;
    height: 140px;
    top: 100px;
    left: 40px; }
    #main #invoice-head .item {
      position: absolute;
      float: left;
      text-align: left;
      height: 100%;
      margin: 0;
      color: #000;
      font-size: 20px;
      font-family: 'helvetica', sans-serif; }
    #main #invoice-head #address {
        left: 520px;
        top: 230px;
    }
    #main #invoice-head #rep {
        left: 185px;
        top: 271px;
    }
    body #main #rep-photo{
        left: 95px;
        top: 1474px;
    }
    #main #invoice-head #rep-photo{
        left: 54px;
        top: 242px;
    }
    #main #invoice-head #rep-photo img, #rep-photo img{
          width: 108px;
          height: auto;
        }
  #main #invoice-info {
    position: absolute;
    width: 960px;
    height: 420px;
    top: 665px;
    left: 7px; }
    #main #invoice-info .item {
      position: absolute;
      float: left;
      text-align: center;
      height: 100%;
      margin: 0;
      color: #000;
      font-size: 14px;
      font-family: 'helvetica', sans-serif; }
    #main #invoice-info #plan-type {
      width: 15%;
      height: 6%;
      left: 3.3%; }
    #main #invoice-info #location {
      width: 18.5%;
      height: 6%;
      left: 20%; }
    #main #invoice-info #number-of-seats {
      width: 9%;
      height: 6%;
      left: 40.4%; }
    #main #invoice-info #price-per-seat {
      width: 15%;
      height: 6%;
      left: 55.5%; }
    #main #invoice-info #total-line {
      width: 9%;
      height: 6%;
      left: 74%;}
  #main #total-invoice {
    position: absolute;
    font-family: 'helvetica', sans-serif;
    font-size: 18px;
    color: red;
    left: 83%;
    top: 808px; }
  #main #credit {
    position: absolute;
    font-family: 'helvetica', sans-serif;
    font-size: 18px;
    top: 838px;
    left: 83%; }
  #main #lockout {
    position: absolute;
    font-family: 'helvetica', sans-serif;
    font-size: 18px;
    top: 1004px;
    left: 83%; 
    display: none;}
  #main #total {
    position: absolute;
    font-family: 'helvetica', sans-serif;
    font-size: 18px;
    color: red;
    top: 870px;
    left: 83%; }
  #main #invoice-foot {
    position: absolute;
    width: 960px;
    height: 410px;
    top: 1714px;
    left: 0; }
    #main #invoice-foot .item {
      position: absolute;
      float: left;
      text-align: left;
      height: 100%;
      margin: 0;
      color: #000;
      text-align: center;
      font-size: 20px;
      font-family: 'helvetica', sans-serif; }
    #main #address {
        position: absolute;
        font-family: 'helvetica', sans-serif;
        font-size: 20px;
        left: 565px;
        top: 1477px;
    }
    #main #rep {
        position: absolute;
        font-family: 'helvetica', sans-serif;
        font-size: 20px;
        left: 220px;
        top: 1506px;
    }
    #main #rep-photo {
        position: absolute;
        font-family: 'helvetica', sans-serif;
        font-size: 20px;
        left: 20px;
        top: 1509px;
    }
    #main #invoice-foot #plan-type {
      font-size: 12px;
      width: 11%;
      height: 6%;
      left: 50px; }
    #main #invoice-foot #location {
      font-size: 12px;
      width: 14%;
      height: 6%;
      left: 157px; }
    #main #invoice-foot #number-of-seats {
      font-size: 12px;
      width: 5%;
      height: 6%;
      text-align: left;
      left: 327px; }
    #main #invoice-foot #renew-price {
      font-size: 12px;
      width: 8%;
      height: 6%;
      left: 411px; }
    #main #invoice-foot #non-renew-price {
      font-size: 12px;
      width: 8%;
      height: 6%;
      left: 545px; }
    #main #invoice-foot #renew-total {
      font-size: 12px;
      width: 9%;
      height: 6%;
      left: 661px;}
    #main #invoice-foot #non-renew-total {
      font-size: 12px;
      width: 9%;
      height: 6%;
      left: 783px; }
  #main #close-button {
      background: url('../../images/buttons/renew-close.png') no-repeat;
      width: 151px;
      height: 39px;
      position: fixed;
      left: 50%;
      top: 90px;
      margin-left: 500px;
      cursor: pointer;
  }
  #main #playoff-invoice-button {
      background: url('../../images/buttons/playoff-invoice.png') no-repeat;
      width: 151px;
      height: 39px;
      position: fixed;
      left: 50%;
      top: 140px;
      margin-left: 500px;
      cursor: pointer;
  }
  #main #print-button {
      background: url('../../images/buttons/invoice-pdf-print.png') no-repeat;
      width: 151px;
      height: 39px;
      position: fixed;
      left: 50%;
      top: 40px;
      margin-left: 500px;
      cursor: pointer;
  }
