body, html {
  width: 100%;
  height: auto; }

body {
  background: none; }

#main {
  margin: 0 auto;
  background: none;
  border: none;
  position: relative; }
  #main #invoice-bg { 
    position: relative;
    width: 130%;
    top: 35px;
    left: -40px; }
  #main #invoice-head {
    position: absolute;
    width: 100%;
    height: 140px;
    top: 70px;
    left: 40px; }
    #main #invoice-head .item {
      position: absolute;
      text-align: left;
      height: 100%;
      margin: 0;
      color: #000;
      font-size: 20px;
      font-family: 'helvetica', sans-serif; }
    #main #invoice-head #address {
        left: 675px;
        top: 450px;
        font-size: 14px;
    }
    #main #invoice-head #rep {
        left: 210px;
        top: 465px;
    }
    #main #invoice-head #rep-photo {
        left: 60px;
        top: 455px;
    }
  #main #invoice-info {
    position: absolute;
    display: inline;
    width: 75%;
    height: 420px;
    top: 840px;
    left: 7%;
    overflow-y: visible; }
    #main #invoice-info .item {
      position: absolute;
      text-align: center;
      height: 100%;
      margin: 0;
      color: #000;
      font-size: 14px;
      font-family: 'helvetica', sans-serif; }
    #main #invoice-info .head-title {
      text-transform: uppercase;
      color: #e9b011;
    }
    #main #invoice-info #plan-type {
      width: 20%;
      height: 6%;
      left: -10px; }
    #main #invoice-info #location {
      width: 28.5%;
      height: 6%;
      left: 16%; }
    #main #invoice-info #number-of-seats {
      width: 9%;
      height: 6%;
      left: 52%; }
    #main #invoice-info #price-per-seat {
      width: 15%;
      height: 6%;
      left: 68%; }
    #main #invoice-info #total-line {
      width: 9%;
      height: 6%;
      left: 95%; }
  #main #total-invoice {
    position: absolute;
    font-family: 'helvetica', sans-serif;
    font-size: 18px;
    color: red;
    left: 600px;
    top: 1000px; }
  #main #credit {
    position: absolute;
    font-family: 'helvetica', sans-serif;
    font-size: 18px;
    top: 1030px;
    left: 600px; }
  #main #total {
    position: absolute;
    font-family: 'helvetica', sans-serif;
    font-size: 18px;
    color: red;
    top: 1060px;
    left: 600px; }
  #main #invoice-foot {
    position: absolute;
    background: white;
    display: inline;
    width: 50%;
    /*height: 410px;*/
    top: 1940px;
    left: 5%; }
    #main #invoice-foot .item {
      position: absolute;
      text-align: left;
      height: 100%;
      margin: 0;
      color: #000;
      text-align: center;
      font-size: 20px;
      font-family: 'helvetica', sans-serif; }
    #main #address {
        position: absolute;
        font-family: 'helvetica', sans-serif;
        font-size: 14px;
        left: 700px;
        top: 1750px;
    }
    #main #rep {
        position: absolute;
        font-family: 'helvetica', sans-serif;
        font-size: 20px;
        left: 250px;
        top: 1760px;
    }
    #main #rep-photo {
        position: absolute;
        font-family: 'helvetica', sans-serif;
        font-size: 20px;
        left: 96px;
        top: 1730px;
    }
    #main #invoice-foot .head-title {
      text-transform: uppercase;
      color: #e9b011;
    }
    #main #invoice-foot #plan-type {
      font-size: 12px;
      width: 20%;
      height: 6%;
      left: 20px; }
    #main #invoice-foot #location {
      font-size: 12px;
      width: 25%;
      height: 6%;
      left: 125px; }
    #main #invoice-foot #number-of-seats {
      font-size: 12px;
      width: 5%;
      height: 6%;
      left: 290px; }
    #main #invoice-foot #renew-price {
      font-size: 12px;
      width: 8%;
      height: 6%;
      left: 405px; }
    #main #invoice-foot #non-renew-price {
      font-size: 12px;
      width: 8%;
      height: 6%;
      left: 545px; }
    #main #invoice-foot #renew-total {
      font-size: 12px;
      width: 9%;
      height: 6%;
      left: 670px;}
    #main #invoice-foot #non-renew-total {
      font-size: 12px;
      width: 9%;
      height: 6%;
      padding-right: 150px;
      left: 800px; }
  #main #close-button {
      display: none;
  }
